<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1 id='page-title'>{{ pageTitle }}</h1>
        </div>
    </div>
    <div class="row" *ngIf="!selectedCategory">
        <div class="col-xs-12 col-lg-6" *ngFor="let category of categories;">
            <div class="card mt-4">
                <a (click)="selectCategory(category.tag)" class="text-muted" data-abc="true">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="card-image text-white {{ category.theme }}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                    [attr.viewBox]="category.iconViewbox" width="24px" fill="#ffffff">
                                    <path [attr.d]="category.icon" />
                                </svg>
                            </div>
                            <div class="card-text-container">
                                <div>{{ category.title }}</div>
                                <div class="card-description">{{ category.description }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mb-5" *ngIf="selectedCategory">
        <div class="row">
            <div class="col-12 mt-1">
                <button (click)="selectCategory()" type="button" class="back-btn btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-arrow-left-short" viewBox="0 0 16 10">
                        <path fill-rule="evenodd"
                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z">
                        </path>
                    </svg>
                    Back
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-3 mb-3" *ngFor="let site of filteredSites;">
                <div class="site-card card mx-auto">
                    <img class="card-img-top" [attr.src]="site.image" alt="Loading screenshot...">
                    <div class="card-body">
                        <h5 class="card-title" [title]="site.title">{{ site.title }}</h5>
                        <p class="card-tags" [title]="site.tags.join(', ')"><small>{{ site.tags.join(', ')
                                }}</small>
                        </p>
                        <p class="card-text" [title]="site.description">{{ site.description }}</p>
                        <a [href]="site.link" target="_blank" [attr.aria-label]="site.title" class="card-link"> Open
                            <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -5 28 28" width="14px"
                                fill="#0056b3">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path
                                    d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="p-1 col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 mt-3" *ngFor="let pebble of filteredPebbles;">
                <a href="{{ pebble.link }}" target="_blank"
                    title="Name: {{ pebble.title }}&#010;Tags: {{ pebble.tags.join(', ') }}" type="button"
                    class="site-pebble btn btn-outline-primary">
                    <div class="pebbel-text">
                        {{ pebble.title }}
                    </div>
                    <div class="pebbel-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
